# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcuserdatad/
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Signing
*.mobileprovision
*.p12
*.certSigningRequest

# Supabase
supabase/.branches
supabase/.temp
supabase/.env
